.bicicleta{
  height: 600px;
  background-color: lightskyblue;
  background-image: url("./img/bicicleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-image: url("./img/bicicleta.jpg") no-repeat cover center top;
  display: flex;
}

h1{
  margin: auto;
  background: white;
  padding: 1rem 2rem;
}

.pattern{
  height: 300px;
  background-color: lightcoral;
  background-image: url("./img/pattern.svg");
  background-repeat: repeat;
  /* background-size: 100px; */
}

.liner{
  height: 200px;
  background-image: linear-gradient(45deg, lightcoral 30%, lightskyblue 20%);
}